modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ImageBB Uploader"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "test_imagebb_uploader"

[[workflows.workflow]]
name = "ImageBB Uploader"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install imgbb-uploader && node index.js --help"

[[workflows.workflow]]
name = "test_imagebb_uploader"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install imgbb-uploader && node index.js ./images"
